.flex-container {
  display: flex;
  flex-direction: column;
}

.navigation-elements {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 93.75%;
  line-height: 133%;
  text-align: center;
  color: #344563;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  height: 100%;
  padding: 0 0;
  display: flex;
  align-items: center;
}

.bg {
  margin: 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url(./las.png);
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: rgb(255, 255, 255);
}

.header-style {
  left: 30;
  padding-top: 7%;
  padding-left: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  padding-bottom: 0%;
  letter-spacing: 0.01em;
  color: #091e42;
}

.paragraph-style {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 125%;
  line-height: 140%;
  color: #344563;
  padding-left: 5%;
}

nav {
  background-color: white;

  /* box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1); */
}

nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
}

nav li {
  height: 50px;
  margin-left: 0%;
  margin-right: 15px;
}

.sidebar li {
  width: 100%;
}

nav li:first-child {
  margin-right: auto;
}

.logo {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  color: #7f4ff8;
}

.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.633);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(239, 234, 234, 0.414);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a {
  width: 100%;
}

.align-s2 {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #7a869a;
  gap: 5%;
}

.colorb {
  border-radius: 20%;
  background-color: #ebebff;
  color: #6070ff;
  padding: 10px;
  margin-left: 2%;
  align-items: left;
}

.button-1 {
  border-radius: 15%;
  border-color: #5767f7;
  color: #273bec;
  background-color: white;
  margin-top: 5%;
  padding: 27px;
}

#p {
  line-height: 123%;
  font-size: 30px;
}

#h {
  font-weight: 600;
  color: black;
}

image {
  margin-left: 0%;
}

.border {
  margin-left: 0%;
}

.htonic {
  font-size: 37px;

  /* margin-left: 1%; */
}

.hyperlinks-2 {
  margin: 0;
  list-style: none;
  display: inline-flex;
  margin-left: 0%;
}

.button-2 {
  border-radius: 15%;
  border-color: #5767f7;
  color: #273bec;
  background-color: white;
  margin-top: 1%;
  padding: 15px;
}

#h2 {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
}

#p2 {
  font-size: 25px;
}

#h3 {
  font-size: 16px;
  color: #7f8cff;
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 23%;
  margin-top: 3%;
}

.lang-text {
  margin-left: 3%;
}

.logo-text {
  display: flex;
  flex-direction: row;
  background: #f7f7f9;
  width: 30%;
  margin-bottom: 1%;
  border-radius: 15px;
  padding: 10px;
}

.text {
  margin-top: 4%;
  margin-left: 2%;
}

.lang-logo {
  display: flex;
  flex-direction: column;
}

.frame-skill {
  margin-left: 1%;
  gap: 20%;
}

.sections-division {
  margin-top: 5%;
}

.section-two-one {
  margin-bottom: 15%;
}

.section-two-two {
  margin-bottom: 15%;
}

.section-two-three {
  margin-bottom: 15%;
}

.section-two-four {
  margin-bottom: 10%;
}

.contact {
  background-image: url(./contact.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 450px;
  margin-top: 20%;
}

.contact-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  padding-top: 5%;
}

#contact-text {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  color: #fff;
  line-height: 130%;
}

#contact-para {
  font-weight: 400;
  line-height: 140%;
  font-size: 20px;
  text-align: left;
  color: #ebebff;
  margin-bottom: 10%;
  width: 90%;
}

.text-field-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text-field {
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 50px;
}

.text-field input {
  border-radius: 10px;
  height: 25px;
}

.text-field-message input {
  border-radius: 10px;
  height: 90px;
}

.button-contact {
  border-radius: 15%;
  border-color: #5767f7;
  color: #273bec;
  background-color: white;
  margin-top: 2%;
  width: 40%;
  padding: 15px;
  text-align: start;
}

@media (min-width: 768px) {
  .menu-mobile {
    visibility: hidden;
  }

  .others {
    width: 50%;
  }

  .section-two-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }

  .section-two-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }

  .section-two-three {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }

  .section-two-four {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .bg {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(./header-shapes\ mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-position {
    width: 100%;
  }

  .menu-desktop {
    visibility: hidden;
  }
}

.hyperlinks {
  margin: 0;
  list-style: none;
  display: inline-flex;
  margin-left: 20%;
}

nav a:hover {
  text-decoration: dotted #091e42;
}

.navigation a:hover {
  width: 100%;
  color: #273bec;
}
