.flex-container {
    display: flex;
    column-gap: 300px;

    overflow: auto;
    height: auto;
    width: auto;


}

#logo-container {
    padding: 10px 12px;
    height: 40px;
    width: 100px;
    font-family: var(font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #6070ff;

}

.navigation-cointainer {
    width: 258px;
    height: 40px;
    text-align: left;


}

.navigation-elements {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #344563;
}

header {
    width: 1440px;
    height: 72px;
}

a {
    text-decoration: none;
    color: inherit;

}


li {
    list-style: none;
    float: left;
    width: 60px;
}

body {
    background-color: rgb(255, 255, 255);
    height: 916px;
    width: 1440px;
}