.flex-container {
    display: flex;


    overflow: auto;
    height: auto;
    width: auto;


}

#logo-container {

    height: 250%;
    width: 70%;
    font-family: var(font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;

    color: #6070ff;

}

.navigation-cointainer {
    width: 258px;
    height: 40px;
    text-align: left;


}

.navigation-elements {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #344563;
}

header {
    width: 1440px;
    height: 72px;
}

a {
    text-decoration: none;
    color: inherit;

}


li {
    list-style: none;
    float: left;
    width: 60px;
}

body {
    background-color: rgb(255, 255, 255);
    height: 916px;
    width: 1440px;
}

.header-style {

    padding-left: 200px;
    padding-top: 200px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #091e42;

}

.paragraph-style {
    padding-left: 200px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 125%;
    line-height: 140%;
    color: #344563;
}

.half-circle {

    position: absolute;
    left: 0;
    margin-left: 1150px;
    width: 224;
    height: 224;
}

.right-box {

    position: absolute;
    left: 0;
    margin-left: 1100px;
    width: 214px;
    height: 47px;
    background-color: #ebebff;
    transform: rotate(-30deg);

}

.center-box {
    width: 56px;
    height: 10px;
    background: #6070ff;
    transform: rotate(-12deg);

    margin-left: 700px;

}

.center-circle {}